/* Wrapper for Paper content, Toc and Figure panel */
.wrapper {                            
    display: flex;
    width: 100%;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar (Table of Contents) */
.sidebar {
    width: 21%;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: auto;
    transition: width 0.3s ease;
    border-right-color: #e5e7eb;
    border-right-style: solid;
    border-right-width: 1px;
    transition: width 0.5s ease;
}

.sidebar.collapsed {
    width: 24px;
}

/* Toggle button styling */
.toggle-button {
    background-color: #000102db;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease;
    position: absolute;
    height: 61px;
    z-index: 999;
    font-family: cursive;
} 

.toggle-button:hover {
    background-color: #01040cc2;
} 

/* ---------------------------------------------------------------------------------- */

/* Main content */
.paper-content {
    flex: 1 1 55%;
    background-color: #fff;
    border-top: #e5e7eb;
    border-top-style: solid;
    border-top-width: 1px;
}

.clickable-caption {
    cursor: pointer;
    color: rgb(74, 31, 190); 
}


/* ---------------------------------------------------------------------------------- */

/* Figure Panel */
.figure-panel {
    flex: 0 0 27%;
    overflow: auto;
    scrollbar-color: #e5e7ebbd #fff0;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    border: #e5e7eb;
    border-style: solid;
    border-width: 1px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.figure-panel p {
    font-size: 1.3rem;
}

.figure-container {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #eeeeee;
    border-radius: 10px;
}

.figure-container p {
    font-size: 1.1rem;
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.column_header {
    background-color: #d1defd ;
    text-align: center;
}

.column h1 {
    font-size: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

/* ---------------------------------------------------------------------------------- */
/* Pinning */

.figure-container {
    position: relative;
}

.pin-icon {
    width: 25px;
    height: 25px;
    font-size: 14pt;
    position: absolute;
    top: -5px;
    right: -5px;
    transform: rotate(45deg);
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    cursor: pointer;
}

.pin-icon i {
    transition: transform 0.2s ease-in-out;
}