/* General Layout */
.wrapper {                            
    display: flex;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar (Table of Contents) */
.sidebar {
    height: 100vh; /* Full height */
    position: sticky;
    top: 0;
    overflow: auto;
    transition: width 0.3s ease;
    border-right-color: #e5e7eb;
    border-right-style: solid;
    border-right-width: 1px;
    transition: width 0.5s ease;
}

.sidebar.collapsed {
    width: 24px; /* Collapsed width */
}

/* Toggle button styling */
.toggle-button {
    background-color: #000102db;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    display: block;
    /* margin-bottom: 1rem; */
    transition: all 0.3s ease;
    position: absolute;
    height: 61px;
    z-index: 999;
    font-family: cursive;
} 

.toggle-button:hover {
    background-color: #01040cc2;
} 

/* ---------------------------------------------------------------------------------- */

/* Main content */
.paper-content {
    background-color: #fff;
    border-top: #e5e7eb;
    border-top-style: solid;
    border-top-width: 1px;
}

/* ---------------------------------------------------------------------------------- */

/* Figure Panel */
.figure-panel {
    width: 45%;
    /* height: 200vh;  */
    /* padding: 15px; */
    overflow: auto;
    scrollbar-color: #e5e7ebbd #fff0;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column; /* Content is stacked vertically in container */
    background-color: #FBFBFB;
    border: #e5e7eb;
    border-style: solid;
    border-width: 1px;
    height: 100vh; /* Full height */
    position: sticky;
    top: 0;
}


.column {
    /* float: left; */
    /* width: 33%; */
    overflow-y: auto;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}






















/* ---------------------------------------------------------------------------------- */

/* Sidepanel (AI Chatbot) */
.sidepanel {
    width: 300px; /* Expanded width */
    height: 100vh; /* Full height */
    position: sticky;
    top: 0;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FBFBFB;
    border-left: 1px solid #e5e7eb;
    transition: width 0.3s ease;
}

.sidepanel.collapsed {
    width: 40px; /* Collapsed width */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}